@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
body{
    /* background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); */
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
/* main section  */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 1100px;
    height: 550px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
background: rgba(52, 38, 82, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(52, 38, 82, 0.13);
}
.main-form{
    width: 400px;
    margin-right: 60px;
}
.main-form h1{
    @apply pt-4 pb-5 text-2xl text-center;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

/* lottie section */
.main-ani{
    width: 500px;
}

/* form  */
.form label{
    @apply text-sm font-bold text-white
}

/* Email */
.input{
    @apply w-full px-3 py-2 mt-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none;
}

/* Eye-icon  */
.eye-icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #7918F2;
}